<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>

    <h1>Dashboard de Productos</h1>

        <a>
            <button id="agregar-producto">Agregar producto</button>
        </a>

        <div class="contenedor-card">

            
            <% productos.forEach(producto => { %>
        
                <div class="card" data-id="<%= producto.id %>">
        
                    <img
                        src="<%= producto.imagen %>"
                        alt="<%= producto.nombre %>"
                        width="200"
                        class="img-producto"
                    >
        
                    <h2 class="nombre-producto"><%= producto.nombre %></h2>
        
                    <p class="categoria-producto">Categoría: <%= producto.categoria %></p>
        
                    <p class="precio-producto">Precio: $<%= producto.precio %></p>
        
                    <p>
                        Estado:
                        <%= producto.activo ? "Activo" : "Inactivo" %>
                    </p>
        
                    <% if(producto.activo) { %>
        
                        <button class="btn-editar">Editar</button>
        
                        <button class="btn-eliminar" data-id="<%= producto.id %>">Eliminar</button>
        
                    <% } else { %>
        
                        <button class="btn-activar">Activar</button>
        
                    <% } %>
        
                </div>
        
                <hr>
        
            <% }) %>
        </div>

    <div id="modal">
        <div class="contenedor-modal">
        
            <div class="top-modal">

            <h1>Carga del producto</h1>
            <button id="cerrar-modal">X</button>

            </div>
            <form action="">

                
                <div class="data">

                    <label for="">Ingrese el nombre del producto:</label>
                    <input type="text" id="input-nombre">
                </div>
                <div class="data">
                    
                    <label for="">Ingrese el precio del producto:</label>
                <input type="text" id="input-precio">
                </div>

                <div class="data">
                    
                    <label for="">Ingrese la url del producto:</label>
                <input type="text" id="input-url">
                </div>
                
                <div class="data">

                    <label for="">Ingrese la categoria del producto:</label>
                <input type="text" id="input-categoria">

                </div>

                <button id="btn-agregar-producto">Agregar producto</button>

                
            </form>



        </div>
        

    </div>
    
    <div class="modal-edicion">
        
        <div class="container-modal">

            <form class="form-edicion">


                <h1 class="titulo-h1">Nuevos datos del producto</h1>
        
                <div class="producto-data">
    
                    <div class="data-producto">
    
                        <label for="">Ingrese el nuevo nombre del producto</label>
                        <input type="text" id="input-nuevo-nombre">
                    </div>
                    
                     <div class="data-producto">
    
                         <label for="">Ingrese el precio del producto</label>
                         <input type="text" id="input-nuevo-precio">
                    </div>
                     <div class="data-producto">
    
                         <label for="">Ingrese la nueva url del producto</label>
                         <input type="text" id="input-nueva-url">
                    </div>
                    
                     <div class="data-producto">
    
                         <label for="">Ingrese la nueva categoria del producto</label>
                         <input type="text" id="input-nueva-categoria">
                    </div>
            
                    <button type="button" class="btn-enviar-nuevo-prod">Confirmar datos</button>
                </div>
                <button type="button" class="cerrar-editar">X</button>
            </form>

        </div>

        

    </div>
    <script src="/dashboard.js"></script>
</body>
</html>