<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

    <h1>Dashboard de Productos</h1>

        <a>
            <button id="agregar-producto">Agregar producto</button>
            <button id="agregar-admin">Crear usuario administrador</button>
            
        </a>

        <div class="contenedor-card">

            
            <% productos.forEach(producto => { %>
        
                <div class="card" data-id="<%= producto.id %>">
        
                    <img
                        src="<%= producto.imagen %>"
                        alt="<%= producto.nombre %>"
                        width="200"
                        class="img-producto"
                    >
        
                    <h2 class="nombre-producto"><%= producto.nombre %></h2>
        
                    <p class="categoria-producto">Categoría: <%= producto.categoria %></p>
        
                    <p class="precio-producto">Precio: $<%= producto.precio %></p>
        
                    <p>
                        Estado:
                        <%= producto.activo ? "Activo" : "Inactivo" %>
                    </p>
        
                    <% if(producto.activo) { %>
        
                        <button class="btn-editar">Editar</button>
        
                        <button class="btn-eliminar" data-id="<%= producto.id %>">Eliminar</button>
        
                    <% } else { %>
        
                        <button class="btn-activar">Activar</button>
        
                    <% } %>
        
                </div>
        
                <hr>
        
            <% }) %>
        </div>


    <div class="modal-eliminacion modal">

        <div class="container-modal">
            
            <h3>Estas seguro que deseas eliminar este producto?</h3>
            <div class="botones-modal">
    
                <button class="btn-confirmar-modal btn-confirmar-eliminacion">Eliminar producto</button>
                <button class="cancelar-modal cancelar-eliminacion">Cancelar</button>
            </div>
        </div>
            

    </div>

    <div class="modal-activacion modal">

        <div class="container-modal">

            <h3>Estas seguro que deseas activar este producto?</h3>

            <div class="botones-modal">

                <button class="btn-confirmar-modal btn-confirmar-activacion">Activar producto</button>
                <button class="cancelar-modal cancelar-activacion">Cancelar</button>
            </div>
        </div>
    </div>
    <script src="/js/dashoard.js"></script>
</body>
</html>

